# apihook config for the Resolume Arena startup comparison (Wine vs Windows).
# Grammar: [~]dll!func[@argc[/argwidths][:retwidth]]  -- see tools/apitrace/test.cfg
# Loader / threads
kernel32!LoadLibraryW@1/8:8
kernel32!LoadLibraryA@1/8:8
kernel32!LoadLibraryExW@3/884:8
kernel32!GetProcAddress@2/88:8
kernel32!CreateThread@6/888844:8
kernel32!WaitForSingleObject@2/84:4
kernel32!WaitForMultipleObjects@4/8484:4
kernel32!CreateEventW@4/8848:8
kernel32!SetEvent@1/8:4
# COM / WinRT
ole32!CoCreateInstance@5/88488:4
ole32!CoInitializeEx@2/84:4
# Display / windows / messages
user32!GetSystemMetrics@1/4:4
user32!CreateWindowExW@12/488444448888:8
user32!ShowWindow@2/84:4
user32!SetWindowPos@7/8884444:4
user32!GetMessageW@4/8884:4
user32!PeekMessageW@5/88844:4
user32!DispatchMessageW@1/8:4
user32!TranslateMessage@1/8:4
user32!SendMessageW@4/8488:8
user32!PostMessageW@4/8488:4
user32!DefWindowProcW@4/8488:8
user32!InvalidateRect@3/884:4
user32!UpdateWindow@1/8:4
user32!GetDC@1/8:8
user32!ReleaseDC@2/88:4
user32!BeginPaint@2/88:8
user32!EndPaint@2/88:4
user32!FillRect@3/888:4
user32!DrawTextW@5/88884:4
user32!DrawTextExW@6/888884:4
user32!MessageBoxW@4/8884:4
user32!EnumDisplayMonitors@4/8888:4
user32!GetMonitorInfoW@2/88:4
user32!EnumDisplayDevicesW@4/8848:4
# GDI
gdi32!ChoosePixelFormat@2/88:4
gdi32!SetPixelFormat@3/888:4
gdi32!SwapBuffers@1/8:4
gdi32!DescribePixelFormat@4/8888:4
gdi32!GetDeviceCaps@2/84:4
gdi32!CreateCompatibleDC@1/8:8
gdi32!CreateDIBSection@6/888488:8
gdi32!SelectObject@2/88:8
gdi32!DeleteObject@1/8:4
gdi32!BitBlt@9/888888884:4
gdi32!PatBlt@6/888884:4
gdi32!StretchDIBits@14/88888888888884:4
gdi32!SetDIBitsToDevice@12/888888888888:4
gdi32!TextOutW@5/88884:4
gdi32!ExtTextOutW@8/888488888:4
# OpenGL
opengl32!wglCreateContext@1/8:8
opengl32!wglMakeCurrent@2/88:4
opengl32!wglDeleteContext@1/8:4
opengl32!wglGetProcAddress@1/8:8
opengl32!wglShareLists@2/88:4
opengl32!wglGetCurrentDC@0:8
opengl32!glGetString@1/4:8
opengl32!glGetIntegerv@2/88:0
opengl32!glGetError@0:4
opengl32!glViewport@4/4444:0
opengl32!glClear@1/4:0
opengl32!glClearColor@4/4444:0
# DXGI / D3D11
dxgi!CreateDXGIFactory@2/88:4
dxgi!CreateDXGIFactory1@2/88:4
d3d11!D3D11CreateDevice@7/8844444:4
# Media Foundation
mfplat!MFStartup@2/84:4
mf!MFCreateMediaSession@2/88:4
# Files / registry
kernel32!CreateFileW@7/8448448:8
advapi32!RegOpenKeyExW@5/88444:4
# layered-window path (JUCE paints via UpdateLayeredWindow when WS_EX_LAYERED)
user32!UpdateLayeredWindow@9/888888888:4
user32!SetLayeredWindowAttributes@4/8484:4
user32!GetLayeredWindowAttributes@4/8888:4
user32!RedrawWindow@4/8884:4
user32!GetWindowLongW@2/84:4
user32!GetWindowLongPtrW@2/84:8
# font path (Arena's "Enumerate fonts"/"Find default fonts")
gdi32!EnumFontFamiliesExW@5/88884:4
gdi32!CreateFontIndirectW@1/8:8
gdi32!CreateFontIndirectA@1/8:8
gdi32!GetTextFaceW@3/884:4
gdi32!GetTextFaceA@3/884:4
gdi32!EnumFontFamiliesW@4/8888:4
user32!GetStockObject@1/4:8
