# apihook config for the Windows-side (guest) reference traces.
#   [~]dll!func[@argc[/argwidths][:retwidth]]      see test.cfg for the grammar.
#
# --- loader / module handling -------------------------------------------------
kernel32!GetModuleHandleA@1/8:8
kernel32!GetModuleHandleW@1/8:8
kernel32!GetProcAddress@2/88:8
kernel32!LoadLibraryA@1/8:8
kernel32!LoadLibraryW@1/8:8
kernel32!LoadLibraryExW@3/884:8
kernel32!GetModuleFileNameW@3/884:4
# --- file I/O -----------------------------------------------------------------
kernel32!CreateFileA@7/8448448:8
kernel32!CreateFileW@7/8448448:8
kernel32!ReadFile@5/88488:4
kernel32!WriteFile@5/88488:4
kernel32!CloseHandle@1/8:4
kernel32!GetFileSizeEx@2/88:4
kernel32!SetFilePointerEx@4/8884:4
# --- registry -----------------------------------------------------------------
kernel32!RegOpenKeyExW@5/88448:4
kernel32!RegQueryValueExW@6/884888:4
kernel32!RegCloseKey@1/8:4
# --- sync / threads -----------------------------------------------------------
kernel32!WaitForSingleObject@2/84:4
kernel32!CreateEventW@4/8848:8
kernel32!SetEvent@1/8:4
kernel32!GetCurrentProcessId@0:4
kernel32!GetCurrentThreadId@0:4
kernel32!Sleep@1/4:0
# --- UI -----------------------------------------------------------------------
user32!MessageBoxW@4/8884:4
user32!CreateWindowExW@12/488444448888:8
user32!LoadStringW@4/8484:4
user32!GetSystemMetrics@1/4:4
user32!DefWindowProcW@4/8488:8
gdi32!CreateCompatibleDC@1/8:8
gdi32!CreateCompatibleBitmap@3/844:8
# --- ntdll (native layer: where Wine most often diverges) ---------------------
ntdll!NtCreateFile@11/84888444484:4
ntdll!NtOpenKey@3/848:4
ntdll!NtQueryValueKey@6/884844:4
ntdll!NtAllocateVirtualMemory@6/888844:4
ntdll!NtQueryAttributesFile@2/88:4
# exclusion demo: this import exists, but it must never be logged
kernel32!DeleteFileW@1/8:4
~kernel32!DeleteFileW
