# apihook config focused on the monitor-win32-golden.exe (offline Processor) render path.
# Same grammar as hog.cfg: [~]dll!func[@argc[/argwidths][:retwidth]]
#
# Goal: capture window creation (with class/title pointers), the QPA surface setup
# (pixel format / wgl / DWM), the paint path (BeginPaint/BitBlt/SetDIBitsToDevice and
# the GL swap), and the message loop -- from the first traced instruction, so a window
# that is created but never painted is visible as "CreateWindowExW + ShowWindow, then
# no paint call at all".

# ---------------------------------------------------------------------------
# loader: which graphics backends get loaded (opengl32 / d3d / ANGLE libEGL)
# ---------------------------------------------------------------------------
kernel32!LoadLibraryA@1/8:8
kernel32!LoadLibraryW@1/8:8
kernel32!LoadLibraryExA@3/884:8
kernel32!LoadLibraryExW@3/884:8
kernel32!GetProcAddress@2/88:8
kernel32!FreeLibrary@1/8:4
kernel32!GetModuleHandleA@1/8:8
kernel32!GetModuleHandleW@1/8:8

# ---------------------------------------------------------------------------
# threads / waits / loop
# ---------------------------------------------------------------------------
kernel32!CreateThread@6/888844:8
kernel32!CreateEventW@4/8848:8
kernel32!CreateEventA@4/8848:8
kernel32!WaitForSingleObject@2/84:4
kernel32!WaitForSingleObjectEx@3/844:4
kernel32!WaitForMultipleObjects@4/8484:4
kernel32!WaitForMultipleObjectsEx@5/84844:4
kernel32!MsgWaitForMultipleObjectsEx@5/84444:4
kernel32!MsgWaitForMultipleObjects@5/84444:4
kernel32!Sleep@1/4:0
kernel32!SleepEx@2/44:4
kernel32!QueryPerformanceCounter@1/8:4
kernel32!GetTickCount@0:4
kernel32!GetTickCount64@0:8
kernel32!SetTimer@4/8848:8
kernel32!CreateWaitableTimerW@3/884:8
kernel32!SetWaitableTimer@6/884884:4

# ---------------------------------------------------------------------------
# user32: window lifecycle + message loop + paint primitives
# ---------------------------------------------------------------------------
user32!RegisterClassA@1/8:4
user32!RegisterClassW@1/8:4
user32!RegisterClassExA@1/8:4
user32!RegisterClassExW@1/8:4
user32!UnregisterClassW@2/84:4
user32!CreateWindowExA@12/488444448888:8
user32!CreateWindowExW@12/488444448888:8
user32!DestroyWindow@1/8:4
user32!ShowWindow@2/84:4
user32!ShowWindowAsync@2/84:4
user32!SetWindowPos@7/8844444:4
user32!MoveWindow@6/844444:4
user32!SetWindowLongA@3/844:4
user32!SetWindowLongW@3/844:4
user32!SetWindowLongPtrA@3/844:8
user32!SetWindowLongPtrW@3/844:8
user32!GetWindowLongA@2/84:4
user32!GetWindowLongW@2/84:4
user32!SetWindowTextW@2/88:4
user32!SetWindowTextA@2/88:4
user32!GetClientRect@2/88:4
user32!GetWindowRect@2/88:4
user32!GetMessageA@4/8844:4
user32!GetMessageW@4/8844:4
user32!PeekMessageA@5/88444:4
user32!PeekMessageW@5/88444:4
user32!WaitMessage@0:4
user32!DispatchMessageA@1/8:4
user32!DispatchMessageW@1/8:4
user32!TranslateMessage@1/8:4
user32!PostMessageA@4/8488:4
user32!PostMessageW@4/8488:4
user32!SendMessageA@4/8488:8
user32!SendMessageW@4/8488:8
user32!DefWindowProcA@4/8488:8
user32!DefWindowProcW@4/8488:8
user32!GetDC@1/8:8
user32!GetWindowDC@1/8:8
user32!ReleaseDC@2/88:4
user32!BeginPaint@2/88:8
user32!EndPaint@2/88:4
user32!InvalidateRect@3/884:4
user32!ValidateRect@2/88:4
user32!UpdateWindow@1/8:4
user32!RedrawWindow@4/8884:4
user32!GetUpdateRect@3/884:4
user32!GetUpdateRgn@3/884:4
user32!SetForegroundWindow@1/8:4
user32!SetActiveWindow@1/8:8
user32!SetFocus@1/8:8
user32!GetFocus@0:8
user32!IsWindowVisible@1/8:4
user32!IsIconic@1/8:4
user32!IsWindow@1/8:4
user32!EnableWindow@2/84:4
user32!OpenInputDesktop@3/444:8
user32!SetThreadDesktop@1/8:4
user32!GetThreadDesktop@1/4:8
user32!SetProcessDPIAware@0:4
user32!SystemParametersInfoW@4/4484:4
user32!GetSystemMetrics@1/4:4
user32!EnumDisplayMonitors@4/8888:4
user32!GetMonitorInfoW@2/88:4
user32!MonitorFromWindow@2/44:8
user32!MonitorFromRect@2/44:8
user32!FillRect@3/888:4
user32!FrameRect@3/888:4
user32!DrawTextW@5/84484:4
user32!MessageBoxW@4/8888:4
user32!RegisterPowerSettingNotification@3/884:8
user32!SetTimer@4/8848:8
user32!KillTimer@2/88:4
user32!GetSysColor@1/4:4
user32!GetDoubleClickTime@0:4

# ---------------------------------------------------------------------------
# gdi32: raster backing store + blits (QWidget/QBackingStore path)
# ---------------------------------------------------------------------------
gdi32!BitBlt@9/888888444:4
gdi32!StretchBlt@11/88888888444:4
gdi32!PatBlt@6/884444:4
gdi32!SetDIBitsToDevice@12/888888888844:4
gdi32!StretchDIBits@13/88888888888444:4
gdi32!GetDIBits@7/888888844:4
gdi32!CreateCompatibleDC@1/8:8
gdi32!CreateCompatibleBitmap@3/844:8
gdi32!CreateDIBSection@6/884884:8
gdi32!CreateDCW@4/8888:8
gdi32!DeleteDC@1/8:4
gdi32!SelectObject@2/88:8
gdi32!DeleteObject@1/8:4
gdi32!GetStockObject@1/4:8
gdi32!GetDeviceCaps@2/84:4
gdi32!SetBkMode@2/84:4
gdi32!SetTextColor@2/84:4
gdi32!SetBkColor@2/84:4
gdi32!TextOutW@5/84488:4
gdi32!ExtTextOutW@8/88444888:4
gdi32!CreatePen@3/444:8
gdi32!CreateSolidBrush@1/4:8
gdi32!Rectangle@5/84444:4
gdi32!Ellipse@5/84444:4
gdi32!LineTo@3/844:4
gdi32!MoveToEx@4/8448:4
gdi32!GetPixel@3/844:4
gdi32!SetPixel@4/8444:4
gdi32!CreateFontIndirectW@1/8:8
gdi32!CreateFontW@14/44444444444488:8
gdi32!GetTextExtentPoint32W@4/8848:4
gdi32!GetTextMetricsW@2/88:4
gdi32!SaveDC@1/8:4
gdi32!RestoreDC@2/84:4
gdi32!IntersectClipRect@5/44444:4
gdi32!SetViewportOrgEx@4/8448:4
gdi32!SetWindowOrgEx@4/8448:4
gdi32!GdiFlush@0:4
# pixel format / swap
gdi32!ChoosePixelFormat@2/88:4
gdi32!SetPixelFormat@3/848:4
gdi32!DescribePixelFormat@4/8448:4
gdi32!GetPixelFormat@1/8:4
gdi32!SwapBuffers@1/8:4

# ---------------------------------------------------------------------------
# opengl32: the GL scene-graph path (QQuickWindow / QOpenGLWidget)
# ---------------------------------------------------------------------------
opengl32!wglCreateContext@1/8:8
opengl32!wglCreateLayerContext@2/88:8
opengl32!wglMakeCurrent@2/88:4
opengl32!wglDeleteContext@1/8:4
opengl32!wglGetProcAddress@1/8:8
opengl32!wglGetCurrentDC@0:8
opengl32!wglGetCurrentContext@0:8
opengl32!wglShareLists@2/88:4
opengl32!wglUseFontBitmapsA@4/8444:4
opengl32!glGetString@1/4:8
opengl32!glGetIntegerv@2/88:0
opengl32!glGetError@0:4
opengl32!glClearColor@4/4444:0
opengl32!glClear@1/4:0
opengl32!glViewport@4/4444:0
opengl32!glFlush@0:0
opengl32!glFinish@0:0

# ---------------------------------------------------------------------------
# dwmapi / d3d / ANGLE: composition, swap chain, DWM flush
# ---------------------------------------------------------------------------
dwmapi!DwmIsCompositionEnabled@1/8:4
dwmapi!DwmGetWindowAttribute@4/8484:4
dwmapi!DwmSetWindowAttribute@4/8484:4
dwmapi!DwmEnableBlurBehindWindow@2/88:4
dwmapi!DwmExtendFrameIntoClientArea@2/88:4
dwmapi!DwmGetColorizationColor@2/88:4
dwmapi!DwmDefWindowProc@5/84888:8
dwmapi!DwmFlush@0:4
dwmapi!DwmSetPresentParameters@2/88:4
d3d11!D3D11CreateDevice@9/888884888:4
d3d11!D3D11CreateDeviceAndSwapChain@12/88888488888:4
d3d9!Direct3DCreate9@1/4:8
d3d9!Direct3DCreate9Ex@2/88:4
dxgi!CreateDXGIFactory@2/88:4
dxgi!CreateDXGIFactory1@2/88:4

# ---------------------------------------------------------------------------
# shell / com visible enough to catch licensing/server gates before paint
# ---------------------------------------------------------------------------
ole32!CoInitialize@1/8:4
ole32!CoInitializeEx@2/84:4
ole32!CoCreateInstance@5/88488:4
ws2_32!WSAStartup@2/48:4
ws2_32!socket@3/444:8
ws2_32!connect@3/884:4
ws2_32!bind@3/884:4
ws2_32!listen@2/44:4
ws2_32!select@5/48888:4
ws2_32!WSAEventSelect@3/884:4
ws2_32!WSAEnumNetworkEvents@3/888:4
